<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Triangle Calculator C#</title>
  </head>
  <body>
    <form action="/">
      <label for="firstSide">What is the first side of your triangle???</label>
      <input type="number" id="firstSide" name="firstSide"><br>
      <label for="secondSide">How about the second?</label>
      <input type="number" id="secondSide" name="secondSide"><br>
      <label for="thirdSide">And the third...</label>
      <input type="number" id="thirdSide" name="thirdSide"><br>
      <button type="submit">TELL ME WHAT KIND OF TRIANGLE THIS IS ALRIGHT????</submit>
    </form>
  </body>
</html>
