<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Triangle Calculator C#</title>
  </head>
  <body>
    <h1>What sort of triangle is it?</h1>
    <h4>Side 1: @Model.Get_side1()</h4>
    <h4>Side 2: @Model.Get_side2()</h4>
    <h4>Side 3: @Model.Get_side3()</h4>
    <h3>Type: @Model.TriangleType()</h3>
    <a href="/form">TRY AGAIN</a>
  </body>
</html>
